{% extends 'base.html' %}

{% block content %}
<div class="row">

    <div class="col-4">

        <img src="/static/image/index.png" alt="hamon image" height="400" width="400">
    </div>

    <div class="col-8">
        <h1> Welcome to Hamon HRMS </h1>
        <p>
            Damit Ihr indess erkennt, woher dieser ganze Irrthum gekommen ist, und weshalb man die Lust
             anklagt und den Schmerz lobet, so will ich Euch Alles eröffnen und auseinander setzen, was 
             jener Begründer der Wahrheit und gleichsam Baumeister des glücklichen Lebens selbst darüber 
             gesagt hat. Niemand, sagt er, verschmähe, oder hasse, oder fliehe die Lust als solche, 
             sondern weil grosse Schmerzen ihr folgen,
        </p>
    </div>
</div>

{% endblock %}